.navbar,
.navList {
  display: flex;
  align-items: center;
}

.navbar {
  background-color: var(--color-primary);
  justify-content: space-between;
  padding: 1.5rem;
}

.navList li:not(:last-child) {
  margin-right: 1rem;
}

.navLink {
  color: var(--color-white);
}

.navLink {
  transition: color 0.2s;
}

.navLink:hover,
.navLink:active {
  color: var(--color-secondary);
}

@media only screen and (min-width: 600px) {
  .navbar {
    padding: 2.5rem;
  }

  .navList li:not(:last-child) {
    margin-right: 2.5rem;
  }
}
